$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.incident-map {
  width: 100vw;
  height: calc(100vh - 60px);
}

%base-pane {
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 10px gray;
}

.pane {
  @extend %base-pane;

  &--ui-controls {
    @extend %base-pane;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 15px 15px 20px 50px;
    width: auto;
    font-size: medium;
    color: black;
    & button {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &--data-filter {
    @extend %base-pane;
    width: 25vw;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50px;
    &__content {
      position: absolute;
      top: 150px;
      left: $spacing-medium;
      right: $spacing-medium;
      bottom: $spacing-medium;
      overflow-y: scroll;
      padding-right: 5px;
    }

  }
  &--data-analysis {
    @extend %base-pane;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70vw;
    height: 40vh;
    max-height: 500px;
    min-height: 300px;

    &__content {
      position: absolute;
      top: 80px;
      left: $spacing-medium;
      right: $spacing-medium;
      bottom: $spacing-medium;
      overflow-y: scroll;
    }

  }
  &__header {

    border-bottom: 1px solid black;
    margin-bottom: 10px;
    & > * {
      display: inline-block;
    }
    & button {
      margin-top: 20px;
      float: right;
    }
  }
}

.typeahead-multiselect {
  margin-bottom: $spacing-medium;

  & .badge {
    margin: $spacing-small;
  }

  &__selected {
    margin-top: $spacing-small;
  }
}


.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-default {
  border-bottom: 2px solid black;
}
