$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.incident-map {
  width: 100vw;
  height: calc(100vh - 70px);
}

%base-pane {
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 20px gray;
}

.control-buttons-pane {
  @extend %base-pane;
  position: absolute;
  top: 63px;
  left: 0;
  padding: 15px 15px 15px 50px;
  width: auto;
  & > * {
    display: inline-block;
  }
  & button {
    margin-right: 10px;
  }
}


.pane {
  @extend %base-pane;
  &--data-filter {
    @extend %base-pane;
    width: 25vw;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 63px;
    &__content {
      position: absolute;
      top: 150px;
      left: $spacing-medium;
      right: $spacing-medium;
      bottom: $spacing-medium;
      overflow-y: scroll;
    }

  }
  &--data-analysis {
    @extend %base-pane;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70vw;
    height: 40vh;
    max-height: 500px;
    min-height: 300px;

    &__content {
      position: absolute;
      top: 80px;
      left: $spacing-medium;
      right: $spacing-medium;
      bottom: $spacing-medium;
      overflow-y: scroll;
    }

  }
  &__header {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    & > * {
      display: inline-block;
    }
    & button {
      margin-top: 20px;
      float: right;
    }
  }
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-default {
  border-bottom: 2px solid black;
}
