body {
  width: 100vw;
  height: 100vh;
  margin: 0; }

.incident-map {
  width: 100vw;
  height: calc(100vh - 60px); }

.pane, .pane--ui-controls, .pane--data-filter, .pane--data-analysis {
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 10px gray; }

.pane--ui-controls {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 15px 15px 20px 50px;
  width: auto;
  font-size: medium;
  color: black; }
  .pane--ui-controls button {
    margin-left: 10px;
    margin-right: 10px; }

.pane--data-filter {
  width: 25vw;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50px; }
  .pane--data-filter__content {
    position: absolute;
    top: 150px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: scroll;
    padding-right: 5px; }

.pane--data-analysis {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 40vh;
  max-height: 500px;
  min-height: 300px; }
  .pane--data-analysis__content {
    position: absolute;
    top: 80px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: scroll; }

.pane__header {
  border-bottom: 1px solid black;
  margin-bottom: 10px; }
  .pane__header > * {
    display: inline-block; }
  .pane__header button {
    margin-top: 20px;
    float: right; }

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer; }

.navbar {
  margin-bottom: 0px;
  border-radius: 0px; }

.navbar-default {
  border-bottom: 2px solid black; }
