$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $spacing-medium;
}

#incident-map {
  width: 100vw;
  height: calc(100vh - 60px);
}

%base-pane {
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 10px gray;
}

.pane-header {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  & > * {
    display: inline-block;
  }
}

.ui-controls-pane {
  @extend %base-pane;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 15px 15px 20px 50px;
  width: auto;
  font-size: medium;
  color: black;

  & button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.data-filters-pane {
  @extend %base-pane;
  width: 25vw;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50px;

  &-content {
    position: absolute;
    top: 180px;
    left: $spacing-medium;
    right: $spacing-medium;
    bottom: $spacing-medium;
    overflow-y: scroll;
    padding-right: 5px;
  }
}

.data-analysis-pane {
  @extend %base-pane;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 45vh;
  max-height: 500px;
  min-height: 300px;

  &-content {
    height: calc(100% - 60px);
    width: 100%;
    padding: $spacing-medium;
    overflow-y: scroll;
  }
}

.incidents-per-year-graph > svg {
  min-height: 250px;
  height: 30vh;
  width: 100%;
}

.typeahead-multiselect {
  margin-bottom: $spacing-medium;
  & .badge {
    margin: $spacing-small;
  }
  &-selected {
    margin-top: $spacing-small;
  }
}

.incident-popup {
  overflow: auto;
  zoom: 1;

  ul {
    list-style: none outside none;
    width: 450px;
    margin: 0;
    padding: 0;
  }

  li {
    font-weight: bold;
    color: black;
    float: left;
    display: block;
    width: 225px;
    padding: $spacing-small;
    border: 1px dotted lightgray;
  }
}

.date-picker {
  .btn-info,.btn-info.active {
    background-color: #2780e3 !important;
    border: 1px solid #2780e3 !important;
  }
}

.modal-content {
  margin-top: 20vh;
  font-weight: bold;
  font-size: 2.0em;
  padding: $spacing-medium;
  text-align: center;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default {
  border-bottom: 2px solid black;
}
