<leaflet class="incident-map" defaults="map.defaults" center="map.center" geojson="map.geojson"></leaflet>

<div class="pane--ui-controls">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label>Data Source</label>
      <select ng-model="dataSource" ng-init="dataSource = dataSources[0]" ng-options="ds.name for ds in dataSources" class="form-control">
      </select>
      <button type="button" class="btn btn-default">Update Data Source</button>
    </div>|
    <button type="button" class="btn btn-primary" ng-click="showFilters = !showFilters">Data Filters</button>
    <button type="button" class="btn btn-primary" ng-click="showAnalysis = !showAnalysis">Data Analysis</button>
    <button type="button" class="btn btn-primary" ng-click="exportData()">Export Data</button>
  </form>
</div>

<div class="pane--data-filter" ng-show="showFilters" ng-animate=" 'animate' ">
  <header class="pane__header">
    <h3>Data Filters</h3>
    <button type="button" class="btn btn-default btn-sm" ng-click="showFilters = !showFilters">Close</button>
  </header>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Apply Filters</button>
    <button type="button" class="btn btn-default">Clear Filters</button>
  </div>
  <div class="pane--data-filter__content">

    <!-- Date Range Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Date Range</h4>
      </div>
      <div class="panel-body">
        <label>Year</label>
        <select ng-model="dataFilters.selectedYear" ng-init="dataFilters.selectedYear = dataFilters.years[0]" ng-options="year for year in dataFilters.years" class="form-control">
        </select>

        <label>Begin Date</label>
        <input type="date" name="name" value=""></input>
        <!-- <input type="text" class="form-control" ng-model="filterForm.dateRange.beginDate.value" datepicker-popup="{{filterForm.dateRange.beginDate.format}}" is-open="filterForm.dateRange.beginDate.opened" datepicker-options="filterForm.dateRange.beginDate.dateOptions"
          ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="filterForm.dateRange.openDatePicker($event, filterForm.dateRange.beginDate)">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span> -->

        <label>End Date</label>
        <!-- <input type="text" class="form-control" ng-model="filterForm.dateRange.beginDate.value" datepicker-popup="{{filterForm.dateRange.beginDate.format}}" is-open="filterForm.dateRange.beginDate.opened" datepicker-options="filterForm.dateRange.beginDate.dateOptions"
          ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="filterForm.dateRange.openDatePicker($event, filterForm.dateRange.beginDate)">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span> -->

      </div>
    </div>
    <!-- Date Range Filter End -->
    <!-- Location Information Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Location Information</h4>
      </div>
      <div class="panel-body">
        <p>Closest Coastal State</p>
        <typeahead-multiselect all-items="dataFilters.countries" selected-items="dataFilters.selectedClosestCoastalStates"></typeahead-multiselect>
        <hr>
        <p>Territorial Water Status</p>
        <typeahead-multiselect all-items="dataFilters.territorialWaterStatuses" selected-items="dataFilters.selectedTerritorialWaterStatuses"></typeahead-multiselect>
      </div>
    </div>
    <!-- Location Information Filter End -->
    <!-- Vessel Information Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Vessel Information</h4>
      </div>
      <div class="panel-body">
        <p>Vessel Country</p>
        <typeahead-multiselect all-items="dataFilters.countries" selected-items="dataFilters.selectedVesselCountries"></typeahead-multiselect>
        <hr>
        <p>Vessel Status</p>
        <select multiple class="form-control">
          <option ng-repeat="vesselStatus in dataFilters.vesselStatuses" ng-model="vesselStatus.selected">{{vesselStatus}}</option>
        </select>
      </div>
    </div>
    <!-- Vessel Information Filter End -->
    <!-- Incident Information Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Incident Information
      </div>
      <div class="panel-body">
        <p>Incident Type</p>
        <select multiple class="form-control">
          <option ng-repeat="incidentType in dataFilters.incidentTypes" ng-model="incidentType.selected">{{incidentType}}</option>
        </select>
        <hr>
        <p>Incident Action</p>
        <select multiple class="form-control">
          <option ng-repeat="incidentAction in dataFilters.incidentActions" ng-model="incidentAction.selected">{{incidentAction}}</option>
        </select>
      </div>
    </div>
    <!-- Incident Information Filter End -->
  </div>
</div>

<div class="pane--data-analysis" ng-show="showAnalysis" ng-animate=" 'animate' ">
  <header class="pane__header">
    <h3>Data Analysis</h3>
    <button type="button" name="button" class="btn btn-sm btn-default" ng-click="showAnalysis = !showAnalysis">Close</button>
  </header>
  <div class="pane--data-analysis__content">

  </div>
</div>
