<incident-map data="map.data"></incident-map>

<div class="ui-controls-pane">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label>Data Source</label>
      <select ng-model="dataSource" ng-init="dataSource = dataSources[0]" ng-options="ds.name for ds in dataSources" class="form-control">
      </select>
      <button type="button" class="btn btn-default btn-sm" ng-click="initialize()">Update Data Source</button>
    </div>|
    <button type="button" class="btn btn-default btn-sm" ng-click="showFilters = !showFilters">Show/Hide Data Filters</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="showAnalysis = !showAnalysis">Show/Hide Data Analysis</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="initialize()">Export Data</button>
    <span ng-show="map.geojson.data.features !== null">
      <label>| Displaying {{map.data.length}} incidents</label>
    </span>
  </form>
</div>

<div class="data-filters-pane" ng-show="showFilters">
  <header class="pane-header">
    <h3>Data Filters</h3>
    <small>Modify the filters below, then click 'Apply Filters' to see the resulting incidents.</small>
  </header>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary" ng-click="populateIncidents(); populateAnalysis();">Apply Filters</button>
    <button type="button" class="btn btn-default" ng-click="initialize()">Reset Filters</button>
  </div>
  <div class="data-filters-pane-content">
    <!-- Date Range Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Date Range</h4>
      </div>
      <div class="panel-body">
        <label>Year</label>
        <select ng-model="dataFilters.selectedYear" ng-init="dataFilters.selectedYear = dataFilters.years[0]" ng-options="year for year in dataFilters.years" class="form-control">
        </select>
        <hr>
        <label>Begin Date</label>
        <date-picker ng-model="dataFilters.beginDate" min-date="1993-01-01"></date-picker>
        <hr>
        <label>End Date</label>
        <date-picker ng-model="dataFilters.endDate" min-date="1993-01-01"></date-picker>
      </div>
    </div>
    <!-- Date Range Filter End -->
    <!-- Location Information Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Location Information</h4>
      </div>
      <div class="panel-body">
        <label>Closest Coastal State</label>
        <typeahead-multiselect all-items="dataFilters.countries" selected-items="dataFilters.selectedClosestCoastalStates"></typeahead-multiselect>
        <hr>
        <label>Territorial Water Status</label>
        <typeahead-multiselect all-items="dataFilters.territorialWaterStatuses" selected-items="dataFilters.selectedTerritorialWaterStatuses"></typeahead-multiselect>
        <hr>
        <label>Geolocation Source</label>
        <br>
        <small>Use CTRL+click or drag to select multiples</small>
        <select multiple class="form-control" ng-options="geolocationSource as geolocationSource for geolocationSource in dataFilters.geolocationSources" ng-model="dataFilters.selectedGeolocationSources">
        </select>
      </div>
    </div>
    <!-- Location Information Filter End -->
    <!-- Vessel Information Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Vessel Information</h4>
      </div>
      <div class="panel-body">
        <label>Vessel Country</label>
        <typeahead-multiselect all-items="dataFilters.countries" selected-items="dataFilters.selectedVesselCountries"></typeahead-multiselect>
        <hr>
        <label>Vessel Status</label>
        <br>
        <small>Use CTRL+click or drag to select multiples</small>
        <select multiple class="form-control" ng-options="vesselStatus as vesselStatus for vesselStatus in dataFilters.vesselStatuses" ng-model="dataFilters.selectedVesselStatuses">
        </select>
      </div>
    </div>
    <!-- Vessel Information Filter End -->
    <!-- Incident Information Filter Begin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Incident Information
      </div>
      <div class="panel-body">
        <label>Incident Type</label>
        <br>
        <small>Use CTRL+click or drag to select multiples</small>
        <select multiple class="form-control" ng-options="incidentType as incidentType for incidentType in dataFilters.incidentTypes" ng-model="dataFilters.selectedIncidentTypes">
        </select>
        <hr>
        <label>Incident Action</label>
        <br>
        <small>Use CTRL+click or drag to select multiples</small>
        <select multiple class="form-control" ng-options="incidentAction as incidentAction for incidentAction in dataFilters.incidentActions" ng-model="dataFilters.selectedIncidentActions">
        </select>
      </div>
    </div>
    <!-- Incident Information Filter End -->
  </div>
</div>

<div class="data-analysis-pane" ng-if="showAnalysis">
  <header class="pane-header">
    <h3>Data Analysis</h3>
    <small>Incidents per year, grouped by the 'Closest Coastal State' filter.</small>
  </header>
  <div class="data-analysis-pane-content">
    <incidents-per-year data="analysis.data" begin-date="dataFilters.beginDate" end-date="dataFilters.endDate" countries="dataFilters.selectedClosestCoastalStates"></incidents-per-year>
  </div>
</div>
