<section id="page-map">
  <!-- Generic Modal -->
   <modal-dialog show='modal.show' dialog-title="{{modal.title}}">
    {{modals.generic.value}}
  </modal-dialog>
  <div ui-layout>
    <div ui-layout-container>
      <div ui-layout="{flow : 'column'}" id="wrap-outer">
        <div ui-layout-container id="wrap-left" size="35%">
           <div id="filters" ng-include="'components/map/partials/FilterFormPartial.html'"></div>
        </div>
        <div ui-layout-container id="wrap-right" size="65%">
          <div ui-layout="{flow : 'row'}">
            <div ui-layout-container id="map-wrapper">
              <leaflet id="map" defaults="map.defaults" center="map.center" geojson="map.geoJson"></leaflet>
            </div>
            <div ui-layout-container id="map-analysis-wrapper" size="40%">
              <div id="analysis" ng-include="'components/map/partials/AnalysisPartial.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
