<section ng-controller="StaticPageController">
  <div class="container">
    <div class="page-header">
		<h2>About MPMAP</h2>
	</div>
    <p>MPMAP is a web application and toolkit for mapping and visualizing a dataset of over 7000 maritime piracy incidents and attacks dating back to 1993.</p>

    <p>MPMAP is a part of the Mapping Maritime Piracy research initiative with faculty and student contributors at the University of Tennessee, Knoxville and the University of Amsterdam.</p>

    <p>Please email Alex Klibisz, aklibisz@vols.utk.edu or Dr. Brandon Prins, bprins@utk.edu to report any bugs or suggest new
      tools or functionality.</p>
  </div>
</section>
